###################
# Don't track content of these folders
###################
httk/src-i386/
httk/src-x64/
httk/build/
httk.Rcheck/
work/
httk/data-raw/ckd_epi_resid_var_files/
###################
# Or these R files
###################
.Rbuildignore
*.Rhistory
*.Rproj
.Rproj.user/
httk/man/frechen2021.Rd
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pdf
