###################
# Don't track content of these folders
###################
httk/src-i386/
httk/src-x64/
httk/build/
httk.Rcheck/
work/
###################
# Or these R files
###################
.Rbuildignore
*.Rhistory
*.Rproj
.Rproj.user/

httk/man/frechen2021.Rd

*.com
*.class
*.dll
*.exe
*.o
*.so
*.tar.gz
