###################
# Don't track content of these folders
###################
src-i386/
src-x64/
build/

###################
# Or these R files
###################
.Rbuildignore
*.Rhistory
.gitignore
*.Rproj
.Rproj.user/

###################
# Or compiled source code
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
